select{
    width: 170px;
    height: 42px;
    border: 1px solid #8692A6;
    border-radius: 6px;
    display: flex;
    padding-left: 10px;
}

.footer-container {
   display: grid;
   background-color: blue;
   position: sticky;
   bottom:0;
}

.footer {
    grid-column: 2 / span 12;
}

.copyright {
    justify-content: space-around;
}

.currencyDropdown {
    flex: 4;
   margin-right: 150px;
   color: #8692A6;
}

.flag{
    display: flex;
    position: absolute;
}
